/*body {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: start;*/
/*  min-height: 100vh;*/
/*}*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}
.gallery-item {
  flex-basis: calc(33.333% - 10.67px);
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 6px;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}