/*body {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: start;*/
/*  padding-top: 50px;*/
/*  height: 100vh;*/
/*  margin: 0;*/
/*  font-family: sans-serif;*/
/*  background-color: #fff;*/
/*}*/

.form {
  display: flex;
  gap: 5px;
  margin: 0 auto;
  width: fit-content;
}

.search-input {
  padding: 6px 10px;
  border: 1px solid #888;
  border-radius: 4px;
  font-size: 14px;
}

.search-button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.search-button:hover {
  background-color: #e0e0e0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-item {
  flex-basis: calc(33.333% - 10.67px);
}
.gallery-image {
  width: 100%;
  height: 200px;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 6px;
}

.caption-overlay {
  margin-top: 8px;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caption-overlay-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.gallery-item:hover .gallery-image,
.gallery-item:hover .caption-overlay {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.active {
  display: block;
}